extends ../../layout

block content

    .container
        h2.mt-4.md-3= posts.title

        .breadcrumb
            .breadcrumb-item
                a(href='/') Post

        .row
            .col-lg-8
                img.img-fluid.rounded(src='https://thegraphicsfairy.com/wp-content/uploads/2015/10/Halloween-Mystery-Lady-Image-GraphicsFairy.jpg')
                .lead= posts.content

                .card.my-4
                    h5.card-header Leave a Comment
                    .card-body
                        form(method='POST' onsubmit="return doComment(this);")
                            .form-group
                                input.form-control(type='test', name='username')
                                textarea.form-control(rows='3')
                                button.btn.btn-primary(type='submit') Submit
                            script function doComment(form){ $.ajax({url:"/do-comment", method: "POST", data:{username: form.username.value, comment: form.comment.value}}); return false}