extends layout

block content
  h1= title
  p Welcome to #{title}
  #content.p-4.p-md-5
    h2.mb-4 Post
    .card.md-4
      .card-body
        .row
          each post, i in posts
            .col-lg-6
              img.img-fluid.rounded(src='http://placehold.it/750x300')
            .col-lg-6
              .card-title= post.title
              .card-text= post.content
              a.btn.btn-primary(href="/posts/"+post._id) Read More

  script(src='/javascript/jquery.min.js')
  script(src='/javascript/bootstrap.min.js')
  script(src='/javascript/main.js', type='5456d385e18333f1491c9c06-text/javascript')
  script(src='https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js', data-cf-settings='5456d385e18333f1491c9c06-|49', defer='')

